<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3 mb-2">
      <h3>Employee List</h3>
      <hr class="border-primary" />
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="col-1">Profile Image</th>
            <th scope="col">Name</th>
            <th scope="col" class="col-2">Age</th>
            <th scope="col" class="col-2">Salary</th>
            <th scope="col" class="col-2">Action</th>
          </tr>
        </thead>
        <tbody>
          @if ( allEmployee?.length) { @for (employee of allEmployee; track
          $index) {

          <tr>
            <td class="py-1">
              <img
                [src]="employee.profile_image || noImageUrl"
                [alt]="employee.employee_name"
                class="employee-profile"
              />
            </td>
            <td>
              <a [routerLink]="['./', employee.id]">
                {{ employee.employee_name }}</a
              >
            </td>
            <td>{{ employee.employee_age }}</td>
            <td>
              {{ employee.employee_salary | currency : currency }}
            </td>
            <td>
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deleteEmployee(employee.id, employee.employee_name)"
              >
                Delete
              </button>
            </td>
          </tr>
          } }@else {
          <tr>
            <td colspan="5">
              <div
                class="d-flex w-100 justify-content-ceter flex-column align-items-center gap-4"
              >
                <img [src]="noDataImageUrl" alt="no-data" />
                <div class="fs-3 text-muted">No Data to display</div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
